<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What to add</title>


    <!-- Add these to the header  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <style>
        #connection {
        border: 5px solid red;
        width: 80vw;
        font-size: 5vw;
        height: 5vh;
        position: absolute;
        bottom: 5vh; /* Positioned at the bottom */
        left: 50%;
        transform: translateX(-50%);
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: red;
        }
    </style>
</head>
<body>


    <!-- Add this element into the body  -->
    <div id="connection">Not Connected</div>

    <script>
		function gameWin() {
            // Add this into the gameWin function 
            alert("You WIN!")
            var filename = window.location.pathname.split('/').pop().replace('.html', '');
            socket.emit('taskComplete', filename);
            const terminal_url = window.location.origin + "/terminal";
            window.location.href = terminal_url;
		}
    </script>


    <!-- Add this at the end of the body  -->
    <script>
        const socket = io.connect(window.location.origin);
        const status = document.getElementById('connection')

        socket.on('connect', function() {
            console.log('Connected to server');
            status.innerHTML = "Connected";
            status.style.color = "green";
            status.style.borderColor = "green";
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from server');
            status.innerHTML = "Not Connected";
            status.style.color = "red";
            status.style.borderColor = "red";
        });
    </script>


</body>
</html>